@inherits LayoutComponentBase

<PageTitle>CV</PageTitle>

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4 auth">
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@
        
       @*  <NavMenu /> *@

        <article class="content">
            @Body
        </article>
        <Footer/>
    </main>
</div>
